* {
  font-family: 'Raleway', sans-serif;
}

/* Home */
.home {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Navigation */
.navbar {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0 0 0 0;
}

.nav-link {
  margin-left: 20px;
}

/* Portfolio */
.filters {
  float: right;
  margin-right: 10px;
}

.btn-link {
  color: black !important;
  outline: none !important;
}

.btn-link:active, .btn-link:focus {
  font-weight: bold;
  box-shadow: none !important;
}

/* Contact */
.contact-info {
  margin-top: 50px;
}

.contact-info-section {
  margin-top: 20px;
}